@import "tailwindcss";

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        background-color:black;
        color:#ffffff;
         gap: 0px;
    }
    html{
        scroll-behavior: smooth;
       
    }
    .component-section{
        padding: 0px;
        margin: 0px;
        max-width: 1200px;
        gap: 0px;
    }

}
@layer utilities {
    .text-gradient{
        background: #6e076a;
        background: linear-gradient(90deg, rgba(110, 7, 106, 1) 1%, rgba(166, 88, 15, 1) 100%, rgba(199, 112, 12, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
